This is your profile
<%= link_to "Edit profile", edit_user_path(@user), method: :get %>
<%= link_to "Delete profile", user_path(@user),
                method: :delete,
                data: { confirm: "Do you want to delete your profile?" } %>
                
<% if @user.image.present? %>
    <%= @user.image %>
<% end %>
<% if @user.about.present? %>
    <%= @user.about %>
<% end %>

<ul class="posts">
    <h2> Your posts: </h2>
            <% @posts.each do |post| %>
                <% if @user.post.present? %>
                    <% if post.author == current_user %>
                        <%= link_to post.title, post %>
                    <% else %>
                        You have no posts, they'll show up here when added.
                    <% end %>
                <% end %>
            <% end %>
</ul>

<ul class="messages">
    <h2> Messages: </h2>
        <%= render "conversations/conversation", post: @post, conversation: @conversation %>
</ul>


