<div class="post">
    <%= @post.title %> by <%= @post.author.username %>
    <%= @post.text %>

    <% if @post.image.present? %>
        <%= image_tag @post.image %>
    <% end %>
    <% if @post.open %>
        This post is open for editing, request to collaborate <%= link_to "here!", new_post_conversation_path(@post, @conversation) %> 
    <% end %>

    <% if current_user == @post.author %>
        <%= link_to "Edit post", edit_post_path(@post) %>
        <%= link_to "Delete post", post_path(@post),
                method: :delete,
                data: { confirm: "Do you want to delete this post?" } %>
    <% end %>
</div>

<div class="comments">
    <h3> Comments </h3>

    <% comments = @post.comments.persisted.ordered %>
    <% if comments.any? %>
        <%= render comments %>
    <% else %>
        <p> No one has left comments on this post yet. </p>
    <% end %>

    <%= render "comments/form", post: @post, comment: @comment %>
</div>